.btn {
    padding: 12px 24px;
    font-weight: bold;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease, border-color 0.3s ease;
}

.btn svg { 
    width: 16px;
    height: 16px;
    fill: currentColor;
}

.btn--primary {
    background-color: var(--dark-blue);
    color: var(--white);
    border: 2px solid var(--dark-blue);
}

.btn--primary:hover {
    background-color: var(--white);
    color: var(--primary-color);
    border: 2px solid var(--white);
    transform: translateY(-2px);
}

.btn--secondary {
    background-color: #284eca;
    color: var(--white);
    border: 2px solid #284eca;
}

.btn--secondary:hover {
    background-color: var(--white);
    color: var(--primary-color);
    border: 2px solid var(--white);
    transform: translateY(-2px);
}

.btn--header-download {
    background-color: var(--primary-color);
    color: var(--white);
    border: 2px solid var(--primary-color);
    padding: 8px 18px;
}

.btn--header-download:hover {
    background-color: var(--dark-blue);
    border-color: var(--dark-blue);
    transform: translateY(-2px);
}


.btn--card {
    background-color: var(--primary-color);
    color: var(--white);
    width: 100%;
    margin-top: auto;
}

.btn--card:hover {
    background-color: var(--secondary-color);
    transform: translateY(-2px);
}

.price-card__price {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: var(--spacing-s);
}

.price-card__period {
    font-size: 1rem;
    font-weight: normal;
    color: var(--text-color-secondary);
}

.price-card__features {
    text-align: left;
    margin-bottom: var(--spacing-m);
    flex-grow: 1; 
}

.header__menu-icon {
    display: block;
    width: 25px;
    height: 3px;
    background-color: var(--primary-color);
    position: relative;
    transition: background-color 0.3s ease;
}

.header__menu-icon::before,
.header__menu-icon::after {
    content: '';
    width: 25px;
    height: 3px;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    transition: transform 0.3s ease;
}

.header__menu-icon::before {
    transform: translateY(-8px);
}

.header__menu-icon::after {
    transform: translateY(8px);
}

.header__menu-toggle.is-active .header__menu-icon {
    background-color: transparent;
}

.header__menu-toggle.is-active .header__menu-icon::before {
    transform: rotate(45deg);
}

.header__menu-toggle.is-active .header__menu-icon::after {
    transform: rotate(-45deg);
}